@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Welcome";
}

<!DOCTYPE html>
<html>
<head>
    <title>My App: @ViewBag.Title</title>
    @*<link href="css/site.css" rel="stylesheet" />*@
</head>
<body>
    <h2>Welcome to My App</h2>

    <div>
        <p>Hi all!</p>
    </div>
</body>
</html>
